.background {
    background-color: aliceblue;
}

.container{
    padding: 0px 20px 0px 20px;
    color: white;
}

.title{
    font-size: 4rem;
    color: #41C1BA;
}

.cardContainer {
    margin-top: 4rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.card {
    width: 500px;
    min-height: 13rem;
    background-color: aliceblue;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.cardTitle {
    color: #41C1BA;
    font-size: 2rem;
}

.unstyledLink {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Usa el color del texto del padre */
    cursor: pointer; /* Mantén el cursor de "link" */
}

.unstyledLink:hover {
    color: inherit; /* Opcional: evita cambios de color al pasar el mouse */
}

@media (max-width: 768px) {
    .card {
    
      width: 300px;
    }
  
    .title{
        font-size: 3rem;
    }
  }