.container {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
    top: -370px;
    margin: 10px;
}

.NombreUsuario {
    right: 10px;
    margin-top: 150px;
}

.datos {
    padding: 10px;
    position: relative;
    top: 300px;
    right: 400px;
}

.editar {
    margin-top: 950px;
    width: 200px;
    margin-left: -630px;
}

.imageContainer {
    position: absolute;
    top: 550px;
    left: 1250px;
    width: 520px;
    height: 550px;
    overflow-y: scroll;
    background-color: #424242;
    border: 1px solid #424242;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.imagen {
    width: 224px;
    height: 224px;
    margin-bottom: 10px;
    margin-right: 10px;
}