.container {
    padding: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15rem;
}


.editar {
    width: 200px;
}

.imageContainer {
    width: 520px;
    height: 550px;
    overflow-y: scroll;
    background-color: #424242;
    border: 1px solid #424242;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.imagen {
    width: 224px;
    height: 224px;
    margin-bottom: 10px;
    margin-right: 10px;
}