.container {
    position: relative;
    padding: 20px;
    display: flex;
    left: 190%;
    top: -50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.logoLogin {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    flex: 1;
    padding-left: 0;
}

button {
    padding: 8px 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #41C1BA;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #369a94;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.OlvidePass {
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.OlvidePassPan {
    color: #888888;
}

.OlvidePassPan:hover {
    color: #62ccc5;
}