.container {
    position: relative;
    padding: 20px;
    display: flex;
    left: 190%;
    top: -30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.logoLogin {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #41C1BA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #369a94;
}