.logo {
    position: absolute;
    top: 294px;
    right: 870px;
    width: 80px;
    height: auto;
    transition: top 0.3s ease, left 0.3s ease;
}

.container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    top: -250px;

}

.Bienvenido {
    padding: 10px;
    margin-left: -200px;
}

.white {
    color: white;
}

.green {
    color: #41C1BA;
}

.desColor {
    color: #41C1BA;
}

body {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.Descripcion {
    margin: 10px;
    text-align: center;
}

.Objetivo {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 0px;
}

.titulosEstudios {
    width: 100%;
    text-align: left;
    margin-top: -15px;
    color: #41C1BA;
}

.DescFondo {
    width: 100%;
    text-align: left;
    margin-top: -15px;
}

.avanzar {
    position: absolute;
    bottom: 40px;
    left: 1700px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.avanzar:hover {
    background-color: #369a94;
}