.faqContainer{
    display: flex;
    flex-direction: column; 
    background-color: #000;
    width: 80%;
    margin: auto;
    color: white;
    border-radius: 2rem;
}

.title{
    margin-left: 2rem;
}

.button{
    font-size: 20px;
    width: 200px;
}

.buttonContainer{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.modalContainer{
    display: flex;
    gap: 1rem;
}
